.container {
    grid-column-start: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container p {
    font-size: 1.6rem;
}

.section {
    margin-bottom: 4rem;
}

.section span img {
    border-radius: 5px;
    margin: 2rem;
}

.section:nth-of-type(2) p {
    text-align: center;
    margin-left: 2rem;
}

.section:nth-of-type(2) span {
    float: left;
    margin-right: auto;
}

.section:nth-of-type(3) p {
    text-align: center;
    margin-left: 2rem;
}

.section:nth-of-type(3) span span {
    float: right;
    border: 2rem solid transparent;
}



.timelineContainer {
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    height: 63rem;
    margin: 0 10%;
    padding: 1rem 0 4rem 6rem;
}

.timelineContainer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top:0
}

.timelineContainer ul:last-of-type {
    top: 8rem;
}

.timelineContainer ul:before{
    content: "";
    display: block;
    width: 0;
    height: 200%;
    border: 1px dashed var(--header-color);
    position: absolute;
    top: 0;
    left: 3rem;
}

.timelineContainer ul li{
    margin: 2rem 6rem 6rem;
    position: relative;
    padding: 1rem 2rem;
    background: var(--timeline-card);
    color: var(--timeline-card-text);
    border-radius: 10px;
    line-height: 2;
    font-size: 1.2rem;
}

.timelineContainer ul li > span{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px solid var(--border-color);
    position: absolute;
    top:0;
    left:-30px
}

.timelineContainer ul li > span:before {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background:var(--timeline-dot);
    border:2px solid #fff;
    position: absolute;
    left:-7.5px
}

.timelineContainer ul li .date > span:nth-child(2):after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background:var(--timeline-dot);
    border:2px solid #fff;
    position: absolute;
    left: 63.5px;
    top: 0px
}

.timelineContainer ul li > span:before{top:-10px}
.timelineContainer ul li > span:after{top:95%}


.timelineContainer .title{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
}

.timelineContainer .description:first-letter{text-transform: capitalize;line-height: 1.7}

.timelineContainer .title{
    margin-top: 10px;
    text-transform: capitalize;
    font-style: italic;
    text-align: left;
    margin-right: 20px
}


.timelineContainer .date span {
    position: absolute;
    left: -10rem;
    color:var(--text-color-primary);
    font-size:1rem;
    font-weight: bold;
    overflow: visible;
}
.timelineContainer .date span:first-child{top:-16px}
.timelineContainer .date span:nth-child(2){
    top:94%;
    word-wrap: wrap;
}

@media (max-width: 768px) {

    .container {
        grid-column: 1 2;
        height: auto;
    }
    .timelineContainer {
        padding: 0;
        margin: 0;
    }

    .timelineContainer .date span {
        left: -1rem;
    }

    .timelineContainer ul li .date > span:nth-child(2):after {
        left:-26.5px;
        top: 0px
    }

    .section:nth-child(2) p,
    .section:nth-child(3) p {
        margin-left: 0;
    }


    .section:nth-child(2) span,
    .section:nth-child(3) span {
        float: none;
    }

}


.arrow{
    position: absolute;
    top: 105%;
    left: 22%;
    cursor: pointer;
  height:20px;
  width:20px
}

.arrow:hover{
    -webkit-animation: arrow 1s linear infinite;
       -moz-animation: arrow 1s linear infinite;
         -o-animation: arrow 1s linear infinite;
            animation: arrow 1s linear infinite;
}

.timelineContainer ul:last-of-type .arrow{
    position: absolute;
    top: 105%;
    left: 22%;
    transform: rotateX(180deg);
    cursor: pointer;
}

@keyframes arrow{
    0%,100%{
        top:105%
    }
    50%{
        top:106%
    }
}

@-webkit-keyframes arrow{
    0%,100%{
        top:105%
    }
    50%{
        top:106%
    }
}

@-moz-keyframes arrow{
    0%,100%{
        top:105%
    }
    50%{
        top:106%
    }
}

@-o-keyframes arrow{
    0%,100%{
        top:105%
    }
    50%{
        top:106%
    }
}