:root {
  --background-primary: #0e141b;
  --header-primary: #dac0a6;
  --header-secondary: rgb(0, 0, 0);
  --header-color: #f5c3ae;
  --menu-bg-color: #dac0a6;
  --card-header: var(--header-primary);
  --text-color-primary: rgb(255, 255, 255);
  --text-color-secondary: rgba(0, 0, 0, 0.766);
  --link-color: #dac0a6;
  --link-color-dark: var(--background-primary);
  --hover-color-primary: #bb4430ff;
  --hover-color-secondary: #5f8eb9;
  --linkedIn-color: #0a66c2;
  --overlay-color: #ffffff;
  --border-color: #a68f7d;
  --button-bg: #243446;

  --spacer: 10px;

  --screen-sm: 636px;
  --screen-md: 850px;
  --scrren-lg: 1120px;
  --screen-xl: 1410px; 

}

:root[data-theme="stark"] {
      --background-primary: #E2E5EA;
      --header-primary: #2B3B4B;
      --header-secondary: #343331;
      --header-color: #59a6c5;
      --menu-bg-color: #586154;
      --card-header: var(--header-color);
      --text-color-primary: #000;
      --text-color-secondary: #ffffff;
      --link-color: #8D9A88;
      --link-color-dark: #a3a9b8;
      --hover-color-primary: #32412c;
      --hover-color-secondary: #cfbead;
      --linkedIn-color: #0a66c2;
      --overlay-color: #ffffff;
      --border-color: #a68f7d;
      --button-bg: #cdcfd1;
}

html {
  font-size: 10px;
  transition: background-color .5s ease-in-out;
}

html,
body {
  background-color: var(--menu-bg-color);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--text-color-primary);
  
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color-primary);
  text-decoration: underline;
}

* {
  box-sizing: border-box;
  
}

h1 {
  color: var(--header-color);
}

h1 {
  font-size: 2rem;
}

.glass {
background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px; 
}

.glass:hover {
  background: hsla(0, 0%, 100%, 0.555);
  border: 1px solid #fff;
}