.container {
    width: 100%;
    text-align: center;
    position: absolute;
    align-items: center;
    background-color: var(--background-primary);
    padding: 10px;
    box-shadow: 5px 10px 8px var(--shadow-primary);
}

.main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: .1fr 1fr;
}

@media only screen and (max-width: 1410px) {
    .main {
        grid-template-columns: .3fr 1fr .3fr;
        grid-template-rows: 1fr;
    }
}

@media only screen and (max-width: 1120px) {
    .main {
        grid-template-columns: .1fr 1fr .1fr;
        grid-template-rows: 1fr;
    }
}

.name {
    display: flex;
    justify-self: flex-start;
    align-self: start;
    grid-column: 2;
    grid-row: 1;
    margin: 2rem 0;
}

.name img {
    background-color: var(--header-primary);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    align-self: center;
    margin: 0 1rem 0 0;

}

.menu {
    background-color: var(--link-color);

}

.menu ul {
    list-style: none;
    right: 5rem;
    float: right;
    margin: 10rem 10rem 0 0;
    line-height: 2;
    font-size: 1.5rem;
    position: fixed;
}

.menu ul li a {
    color: var(--link-color-dark);
    transition: all .2s ease;
    font-size: 2rem;
}

.menu ul li a:hover {
    color: var(--hover-color-secondary);
}

.scrollTop {
    cursor: pointer;
    margin-top: 5rem;
    color: var(--link-color-dark);
    transition: all .2s ease;
}

.scrollTop:hover {
    color: var(--hover-color-secondary);
    text-decoration: underline;
}

.themeChanger {
    position: absolute;
    margin: 2rem calc(100% / 3);
}

.themeChanger button {
    height: 5rem;
    border-radius: 5px;
    border: 1.5px solid black;
    margin: 0 2rem;
    cursor: pointer;
    background-color: var(--button-bg);
    color: var(--text-color-primary);
}

.themeChanger button:hover {
    transform: scale(1.1);
}

.chosenPage {
    text-decoration: underline;
}

.footer {
    border-top: 1px solid var(--border-color);
    
}