/* Coolors Exported Palette - https://coolors.co/bb4430-419d78-272d2d-3066be-f2e7c9 */

/* CSS HEX */
--international-orange-golden-gate-bridge: #bb4430ff;
--paolo-veronese-green: #419d78ff;
--charleston-green: #272d2dff;
--true-blue: #3066beff;
--dutch-white: #f2e7c9ff;

/* CSS HSL */
--international-orange-golden-gate-bridge: hsla(9, 59%, 46%, 1);
--paolo-veronese-green: hsla(156, 41%, 44%, 1);
--charleston-green: hsla(180, 7%, 16%, 1);
--true-blue: hsla(217, 60%, 47%, 1);
--dutch-white: hsla(44, 61%, 87%, 1);

/* SCSS HEX */
$international-orange-golden-gate-bridge: #bb4430ff;
$paolo-veronese-green: #419d78ff;
$charleston-green: #272d2dff;
$true-blue: #3066beff;
$dutch-white: #f2e7c9ff;

/* SCSS HSL */
$international-orange-golden-gate-bridge: hsla(9, 59%, 46%, 1);
$paolo-veronese-green: hsla(156, 41%, 44%, 1);
$charleston-green: hsla(180, 7%, 16%, 1);
$true-blue: hsla(217, 60%, 47%, 1);
$dutch-white: hsla(44, 61%, 87%, 1);

/* SCSS RGB */
$international-orange-golden-gate-bridge: rgba(187, 68, 48, 1);
$paolo-veronese-green: rgba(65, 157, 120, 1);
$charleston-green: rgba(39, 45, 45, 1);
$true-blue: rgba(48, 102, 190, 1);
$dutch-white: rgba(242, 231, 201, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #bb4430ff, #419d78ff, #272d2dff, #3066beff, #f2e7c9ff);
$gradient-right: linear-gradient(90deg, #bb4430ff, #419d78ff, #272d2dff, #3066beff, #f2e7c9ff);
$gradient-bottom: linear-gradient(180deg, #bb4430ff, #419d78ff, #272d2dff, #3066beff, #f2e7c9ff);
$gradient-left: linear-gradient(270deg, #bb4430ff, #419d78ff, #272d2dff, #3066beff, #f2e7c9ff);
$gradient-top-right: linear-gradient(45deg, #bb4430ff, #419d78ff, #272d2dff, #3066beff, #f2e7c9ff);
$gradient-bottom-right: linear-gradient(135deg, #bb4430ff, #419d78ff, #272d2dff, #3066beff, #f2e7c9ff);
$gradient-top-left: linear-gradient(225deg, #bb4430ff, #419d78ff, #272d2dff, #3066beff, #f2e7c9ff);
$gradient-bottom-left: linear-gradient(315deg, #bb4430ff, #419d78ff, #272d2dff, #3066beff, #f2e7c9ff);
$gradient-radial: radial-gradient(#bb4430ff, #419d78ff, #272d2dff, #3066beff, #f2e7c9ff);