.container {
    grid-column-start: 2;
    grid-row: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header {
    grid-column: 2;
    grid-row: 2;
    text-align: left;
    margin: 1rem 0 0 2rem
}

.projectDesc {
    font-size: 1.6rem;
}

.projects {
    grid-column-start: 2;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 768px) {

    .projectDesc {
        text-align: center;
    }

    .projects {
        justify-content: center;
    }
    
}